:root {
  --light-blue: #00adef;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

/* Navbar */
.navbar a {
  font-weight: 600;
  color: #5f687b;
}

.navbar-brand {
  font-size: 1.7rem;
}

/* Hero */
.hero {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6rem !important;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/coworking-pana.jpg);
  background-size: 50rem;
  background-position: top right;
  z-index: -1;
  background-repeat: no-repeat;
}

.hero a {
  background-color: var(--light-blue);
  color: white;
}

.hero a:hover {
  color: var(--light-blue);
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid var(--light-blue);
}

.hero h1,
main h1 {
  color: #5f687b;
}

.container-fluid {
  bottom: 0;
}

.col-sm-5half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-3half {
  float: left;
  width: 22%;
}

.col-lg-5half {
  float: left;
  width: 49%;
}

.visi-misi {
  background-color: #e7e7e7;
  border-radius: 10px;
}

.visi-misi p,
.visi-misi ul {
  background-color: #fff;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.bi-bookmark-fill {
  color: var(--light-blue);
  font-size: 2rem;
}

/* About */
.about {
  min-height: 100vh;
  padding-top: 6rem;
}

.about li {
  list-style: url(img/check-circle.svg);
}

/* Sakip Publik */
.sakip-publik {
  background-color: #f9f9fa;
}

.sakip-publik p {
  font-size: 1rem;
}

.sakip-publik-box {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  height: 25rem;
}

.sakip-publik-box i {
  display: block;
  margin: 0 auto;
  font-size: 6rem;
  text-align: center;
  color: var(--light-blue);
}

.sakip-publik-box:hover h4 {
  color: var(--light-blue);
}

.sakip-publik-summary {
  background-color: #eee;
}

.sakip-publik-summary-box {
  position: relative;
  background-color: inherit;
  height: 10rem;
}

.sakip-publik-summary-box .angka-summary {
  font-size: 4rem;
  color: var(--light-blue);
}

/* Contact / Hubungi */
.contact-section {
  background-color: var(--light-blue);
}

/* PERENCANAAN.PHP */
.filter-form {
  width: 10rem;
}

/* Media Queries */
/* Extra xl */
@media (max-width: 1400px) {
  .col-lg-3half {
    width: 40%;
    float: left;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .col-lg-3half {
    width: 28%;
    float: left;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .col-lg-3half {
    width: 38%;
    float: left;
  }

  .col-lg-5half {
    width: 100%; /* Full width on medium screens and below */
    float: none; /* Remove float to stack the columns vertically */
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .hero::before {
    background-size: 35rem;
  }
}
